# Maintainer: TODO <you@example.com>
pkgname=__PKGBASE__
pkgver=__PKGVER__
pkgrel=1
pkgdesc=__PKGDESC_QUOTED__
arch=('x86_64')
url=__URL_QUOTED__
license=(__LICENSE_QUOTED__)
depends=('glibc')
makedepends=('go')
_project=__REPO_NAME_QUOTED__
_binary=__BINARY_NAME_QUOTED__
_tag="v$pkgver"
source=("$pkgname-$pkgver.tar.gz::$url/archive/refs/tags/$_tag.tar.gz")
sha256sums=('SKIP') # release workflow tries updpkgsums; do not publish release tarballs with SKIP

build() {
  cd "$_project-$pkgver"
  export CGO_CPPFLAGS="${CPPFLAGS}"
  export CGO_CFLAGS="${CFLAGS}"
  export CGO_CXXFLAGS="${CXXFLAGS}"
  export CGO_LDFLAGS="${LDFLAGS}"
  export GOFLAGS='-buildmode=pie -trimpath -mod=readonly -modcacherw'
  go build -ldflags "-linkmode external -X main.version=$pkgver" -o "$_binary" .
}

check() {
  cd "$_project-$pkgver"
  go test ./...
}

package() {
  cd "$_project-$pkgver"
  install -Dm755 "$_binary" "$pkgdir/usr/bin/$_binary"
  [[ -f LICENSE ]] && install -Dm644 LICENSE "$pkgdir/usr/share/licenses/$pkgname/LICENSE"
}
